.profile__info {
    width: 336px;
    padding: 0;
    margin: 0;
    padding-right: 210px;
    padding-left: 30px;
}

@media (max-width: 900px) {
    .profile__info {
        width: 282px;
        text-align: center;
        padding-right: 0;
        padding-left: 0;
    }
}