.page {
    background-color: #000;
    font-family: 'Inter', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
}