.element__block {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}