.profile__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 22px 0 8px 0;
    padding: 0;
}

@media (max-width: 900px) {
    .profile__block {
        margin-bottom: 8px;
        justify-content: center;
        align-items: center;
        padding-left: 28px;
        margin-top: 24px;
    }
}