.popup__save-button {
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    border: none;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    max-width: 100%;
    width: 358px;
    margin: 15px 4px 0 0;
}

.popup__save-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 900px) {
    .popup__save-button {
        font-size: 14px;
        height: 46px;
        line-height: 17px;
        margin-top: 10px;
    }
}