.element__delete-button {
    background-image: url('../../../images/trash.svg');
    width: 18px;
    height: 19px;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    background-color: transparent;
    display: none;
}

.element__delete-button:hover {
    cursor: pointer;
    opacity: 0.6;
}